<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.dao.CurrencyMapper">
    <resultMap id="reportBookMap" type="com.qy.entity.ReportBook">
        <id column="report_book_id" jdbcType="INTEGER" property="reportBookId" />
        <result column="report_book_file" jdbcType="VARCHAR" property="reportBookFile" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="pro_source" jdbcType="VARCHAR" property="proSource" />
        <result column="pro_background" jdbcType="VARCHAR" property="proBackground" />
        <result column="pro_describe" jdbcType="VARCHAR" property="proDescribe" />
        <result column="pro_feasibility" jdbcType="VARCHAR" property="proFeasibility" />
        <result column="pro_money" jdbcType="REAL" property="proMoney" />
        <result column="pro_benefit" jdbcType="VARCHAR" property="proBenefit" />
        <result column="pro_risk" jdbcType="VARCHAR" property="proRisk" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="pro_code" jdbcType="VARCHAR" property="proCode" />
    </resultMap>
    <sql id="reportBookMapSql">
    report_book_id, report_book_file, status, user_id, pro_source, pro_background, pro_describe,
    pro_feasibility, pro_money, pro_benefit, pro_risk, create_time, pro_code
    </sql>

    <select id="findReportBookList" parameterType="java.util.Map" resultMap="reportBookMap">
      select <include refid="reportBookMapSql"/> FROM report_book
        <where>
        <trim prefix="and" prefixOverrides="and">
        <if test="userId != null and userId !=''">
            user_id = #{userId}
        </if>
        <if test="proCode != null and proCode !=''">
               pro_code LIKE '%'#{proCode}'%'
        </if>
        <if test="list != null">
                user_id IN
                <foreach collection="list" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
        </if>
        </trim>
        </where>
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>

    <select id="findReportBookListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) FROM report_book
        <where>
        <trim prefix="and" prefixOverrides="and">
        <if test="list != null">
            user_id IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userId != null and userId !=''">
               user_id = #{userId}
        </if>
        <if test="proCode != null and proCode !=''">
            pro_code LIKE '%'#{proCode}'%'
        </if>
        </trim>
        </where>
    </select>

    <select id="findUserIdByDepId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT user_id from  user  where  dep_id = #{_parameter};
    </select>

    <select id="findPlanBookList" parameterType="java.util.Map" resultType="com.alibaba.fastjson.JSONObject">
        select plan_book_id AS "planBookId", plan_target AS  "planTarget",plan_org AS "planOrg", plan_work AS "planWork",plan_milepost AS "planMilepost", gantt_chart as "ganttChart",plan_relation as "planRelation",
        risk, measures,create_time as "createTime",user_id as "userId",report_code as "reportCode",status as "status" FROM plan_book
        <where>
        <trim prefix="and" prefixOverrides="and">
        <if test="list != null">
            user_id IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userId != null and userId !=''">
               user_id = #{userId}
        </if>
        <if test="reportCode != null and reportCode !=''">
               report_code LIKE '%'#{reportCode}'%'
        </if>
        </trim>
        </where>
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>

    <select id="findPlanBookListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) FROM plan_book
        <where>
        <trim prefix="and" prefixOverrides="and">
    <if test="list != null">
        user_id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </if>
    <if test="userId != null and userId !=''">
           user_id = #{userId}
    </if>
    <if test="reportCode != null and reportCode !=''">
           report_code LIKE '%'#{reportCode}'%'
    </if>
        </trim>
        </where>
</select>


    <select id="findTaskBookList" parameterType="java.util.Map" resultType="com.alibaba.fastjson.JSONObject">
        select task_book_id  as "taskBookId",pro_name as "proName",pro_time_start as "proTimeStart",
        pro_money as "proMoney", pro_time_end as "proTimeEnd",task_note as "taskNote",
        work_id as "workId",status as "status",report_code as "reportCode",
        create_time as "createTime", user_id as "userId" FROM task_book
        <where>
            <trim prefix="and" prefixOverrides="and">
        <if test="list != null">
            user_id IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userId != null and userId !=''">
               user_id = #{userId}
        </if>
        <if test="reportCode != null and reportCode !=''">
               report_code LIKE '%'#{reportCode}'%'
        </if>
            </trim>
        </where>
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>

    <select id="findTaskBookListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) FROM task_book
        <where>
            <trim prefix="and" prefixOverrides="and">
        <if test="list != null">
            user_id IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userId != null and userId !=''">
               user_id = #{userId}
        </if>
        <if test="reportCode != null and reportCode !=''">
               report_code LIKE '%'#{reportCode}'%'
        </if>
            </trim>
        </where>
    </select>


<!--
    <resultMap id="userMap" type="com.qy.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="dep_id" jdbcType="INTEGER" property="depId" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>-->

    <select id="findUserList" parameterType="java.util.Map" resultType="com.qy.entity.User">
        SELECT * FROM  user
        <where>
            <trim prefix="and" prefixOverrides="and">
            <if test="userId != '' and userId != null">
                and  user_id = #{userId}
            </if>
            <if test="email != '' and email != null">
                and  email = #{email}
            </if>
            <if test="password != '' and password != null">
                and    password = #{password}
            </if>
            <if test="roleId != '' and roleId != null">
             <if test="roleId == 1">
                 and    role_id != #{roleId}
              </if>
              <if test="roleId == 2">
                  and   role_id = 3
              </if>
            </if>
            <if test="phone != '' and phone != null">
                and  phone = #{phone}
            </if>
            <if test="depId != '' and depId != null">
                and     dep_id = #{depId}
            </if>
            <if test="sex != '' and sex != null">
                and    sex = #{sex}
            </if>
            </trim>
        </where>
        ORDER BY create_time DESC
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>
    <select id="findUserListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM  user
        <where>
            <trim prefix="and" prefixOverrides="and">
                <if test="userId != '' and userId != null">
                    and user_id = #{userId}
                </if>
                <if test="email != '' and email != null">
                    and email = #{email}
                </if>
                <if test="password != '' and password != null">
                    and password = #{password}
                </if>
                <if test="roleId != '' and roleId != null">
                    <if test="roleId == 1">
                        and     role_id != #{roleId}
                    </if>
                    <if test="roleId == 2">
                        and   role_id = 3
                    </if>
                </if>
                <if test="phone != '' and phone != null">
                    and    phone = #{phone}
                </if>
                <if test="depId != '' and depId != null">
                    and  dep_id = #{depId}
                </if>
                <if test="sex != '' and sex != null">
                    and  sex = #{sex}
                </if>
            </trim>
        </where>
    </select>


    <select id="findWorkStaffList" resultType="com.alibaba.fastjson.JSONObject" parameterType="java.util.Map">
        select  work_staff_id as "workStaffId", user_id as "userId", work_lead_id as "workLeadId",
        work_id as "workId", create_tiem as "createTiem", pro_code as "proCode",
        plan_money as "planMoney", real_money as "realMoney", status,
        report_note as "reportNote", review, small_task as "smallTask",
        dep_id  as  "depId" from work_staff
        <where>
            <trim prefix="and" prefixOverrides="and">
                <if test="list != null">
                      user_id IN
                    <foreach collection="list" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
            <if test="proCode != null">
                pro_code like '%'#{proCode}'%'
            </if>
            <if test="smallTask != null">
                small_task = #{smallTask}
            </if>
            <if test="userId != null">
                    user_id = #{userId}
            </if>
            <if test="workLeadId != null">
                work_lead_id = #{workLeadId}
             </if>
             <if test="depId != null">
                    dep_id = #{depId}
             </if>
            </trim>
        </where>
        <if test="currentPage != null and currentPage !='' or
                        pageSize != null and pageSize !=''">
            LIMIT #{pageSize} OFFSET #{currentPage}
        </if>
    </select>

    <select id="findWorkStaffListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select  count(*) from work_staff
        <where>
            <trim prefix="and" prefixOverrides="and">
                <if test="list != null">
                  and  user_id IN
                    <foreach collection="list" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="proCode != null">
                    pro_code LIKE #{proCode}
                </if>
                <if test="smallTask != null">
                    small_task = #{smallTask}
                </if>
                <if test="userId != null">
                    user_id = #{userId}
                </if>
                <if test="report_book != null">
                    work_lead_id = #{workLeadId}
                </if>
            </trim>
        </where>
    </select>

    <select id="findTaskProCode" resultType="java.lang.String" parameterType="java.util.Map">
        select  distinct  pro_code AS "proCode" from work_staff where  user_id = #{userId}
    </select>

    <select id="sumPlanMoney" resultType="java.lang.Float" parameterType="java.lang.String">
        select  sum(plan_money) from work_staff where pro_code = #{_parameter}
    </select>
</mapper>